<!--Log in page from the walkthrough --> 

{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block head_title %}{% trans "Sign in to manage your uploads" %}{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="login-box">
            <h3>{% trans "Sign in to manage your uploads" %}</h3>
              <class type="submit">{% trans "Sign in" %}</button>
        </div>
    </div>
    <div>
      To create a new account to show off your artistic skills!
      <a class="link" href="{{ signup_url }}">click here</a></p></div>
        </div>
      </div>
</div>
{% endblock %}