.carousel-item img {
    height: 400px;
}

body {
    background-color:rgb(188, 224, 213);
}

h1 {
    color: rgb(12, 36, 28);

}

div.login-box {
    color: rgb(12, 36, 28);
    border-radius: 5%;
}

div.sign-out-box {
    color: rgb(12, 36, 28);
    border-radius: 5%;
}